@font-face
{
font-family: Gabriola;
src:url(img/gabriola.ttf);
}

body
{
	background-color: white;
	font-family: 'Gabriola', monospace;
	font-size: 20px;
	font-weight: 700;
}

a:link
{
	color: gray;
}

a:visited
{
	color: gray;
}

a:hover
{
	color: gray;
}

#box
{
	width: 1000px;
	height: 638px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 75%;
}

#logo
{
	width: 1000px;
	height: 317px;
	text-align: center;
}

#nav
{
	float: left;
	width: 382px;
	height: 321px;
	text-align: center;
	font-size: 23px;
	line-height: 150%;
}

#cont
{
	float: left;
	width: 550px;
	height: 321px;
	text-align: center;
	padding: 25px;
	border-style: groove;
	overflow: auto;
	line-height: 125%;
}

#foot
{
	clear: both;
	width: 1000px;
	height: 35px;
	text-align: center;
	color: gray;
}

a.navlink
{
	color: black;
	text-decoration: none;
}

a.outlink
{
	color: gray;
	text-decoration: none;
}